<p>Hi <%= me.github_account %>!</p>

<p>Now you're ready to start copy and pasting. Its pretty simple really. Use your credentials (below) to copy and paste data between computers.</p>

<h2>Instructions:</h2>

<h3>First</h3>
<p><em>export NWCOPY_CREDS=<%=me.credentials%></em></p>

<h3><em><a id='curl_open' href="#">curl</a></em></h3>
<div id='curl' style='display:none'>
  <h4>To copy data:</h4>
  <p><em>curl http://<%=request.host_with_port%>/copy --user $NWCOPY_CREDS --form data=@file</em></p>

  <h4>To paste data:</h4>
  <p><em>curl http://<%=request.host_with_port%>/paste --user $NWCOPY_CREDS</em></p>
</div>

<h3><em><a id='ruby_open' href="#">ruby</a></em></h3>
<div id='ruby' style='display:none'>
  <h4>To copy data:</h4>
  <p><em>ruby</em></p>

  <h4>To paste data:</h4>
  <p><em>ruby</em></p>
</div>

<h3><em><a id='bash_open' href="#">bash</a></em></h3>
<div id='bash' style='display:none'>
  <h4>To copy data:</h4>
  <p><em>bash</em></p>

  <h4>To paste data:</h4>
  <p><em>bash</em></p>
</div>
